.image{
    height: 150px;
    width:150px;
}
.movie-title{
    color: aliceblue;
    font-family: roboto;
    font-weight: 300;
    font-style: italic;
}
.list{
    text-decoration: none;
}
@media (max-width:768px){
    .image{
        height: 100px;
        width:100px;
    }
    .movie-title{
        color: aliceblue;
        font-family: roboto;
        font-weight: 200;
        font-style: italic;
        font-size: 10px;
    }
}